{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='images/user_image.jpg') }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="text-primary"><strong>{{ user.department }}</strong></p>
            <p class="text-secondary">{{ user.email }}</p>
            <button type="button" class="btn btn-outline-danger btn-sm m-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        </div>
        <div class="content-section">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Account Information</legend>
                    <div class="form-group">
                        {{ form.first_name.label(class="form-control-label") }}
        
                        {% if form.first_name.errors %}
                            {{ form.first_name(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.first_name(class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.last_name.label(class="form-control-label") }}
                        {% if form.last_name.errors %}
                            {{ form.last_name(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.last_name(class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.department.label(class="form-control-label") }}
                        {% if form.department.errors %}
                            {{ form.department(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.department.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.department(class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.role.label(class="form-control-label") }}
                        {% if form.role.errors %}
                            {{ form.role(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.role.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.role(class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                </fieldset>
                <br>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
            
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this user?</p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('admins.delete_user', user_id=user.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}