{% extends 'base.html' %} 

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    {% if projects|length < 1 %}
    <h4 style="text-align: center"> No projects in the database, submit projects below</h4>
    {% else %}

    <table border = 1>
        <tr>
            <th>Project Name</th>
            <th>Budget</th>
            <th>Date Created</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for project in projects %}
            <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.budget }}</td>
                <td>{{ project.date_created.date() }}</td>
                <td>{{ project.status }}</td>
                <td>
                    <a href="/delete/{{project.id}}">Delete</a>
                    <br>
                    <a href="/update/{{project.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <form action="/" method="POST">
        <label for="title">Project title:</label><br>
        <input type="text" name="title" id="title">
        <input type="submit" value="Add Project">
    </form>
</div>

{% endblock %}