{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<section class="mh-100 gradient-form">
    <div class="container h-100 fixed-top py-1">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">

                <div class="card rounded-3 text-black">

                    <div class="col-lg-6 mx-auto">
                        <div class="card-body p-md-5 mx-md-4">

                            <div class="text-center">
                                <img src="{{ url_for('static', filename='images/bisu_logo.png') }}"
                                    style="width: 150px;" alt="logo">
                                <h4 class="mt-3 mb-5 pb-1">BISU Project Procurement Monitoring System</h4>
                            </div>

                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-dismissible alert-{{ category }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}

                            <form action="" method="POST">
                                {{ form.hidden_tag() }}

                                <div data-mdb-input-init class="form-outline mb-4">
                                    {{ form.email.label(class="form-control-label") }}
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-md is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email(class="form-control form-control-md") }}
                                    {% endif %}
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    {{ form.password.label(class="form-control-label") }}
                                    {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-md is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.password(class="form-control form-control-md") }}
                                    {% endif %}
                                </div>

                                <div class="form-check mt-2">
                                    {{ form.remember(class="form-check-input") }}
                                    {{ form.remember.label(class="form-check-label") }}
                                </div>

                                <div class="text-center pt-1 mt-3">
                                    {{ form.submit(class="btn btn-primary mb-3") }}
                                </div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <a class="text-muted" href="{{ url_for('users.reset_request') }}">Forgot
                                        password?</a>
                                </div>


                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}